@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = Localizer.Get("Db.Inventory.Goodsreceipt.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CloudGarage.Inventory.GoodsreceiptGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>